.vscode/**
.vscode-test/**
.git/**
.gitignore
.yarnrc
src/**
webview-ui/**
node_modules/**
out/test/**
vsc-extension-quickstart.md
build-webview.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.md.backup
.vscode-test.mjs
PUBLISHING.md
README.md.backup
